!!!
%html{:lang => "en"}
  %head
    %meta{"http-equiv" => 'Content-Type', :content => 'text/html; charset=utf-8'}
    %meta{:name => "author", :content => "Ben Schwarz"}

    /[if IE]
      %script{:src => " http://html5shiv.googlecode.com/svn/trunk/html5.js"}

    %title Rack::Smoke
    %link{:rel => "stylesheet", :href => "/css/reset.css", :type => "text/css", :media => "screen"}
    %link{:rel => "stylesheet", :href => "/css/base.css", :type => "text/css", :media => "screen"}
    
  %body
    %section#container
      = yield
    
      %footer
        %a{:href => "http://github.com/benschwarz/smoke-rack", :title => "Rack::Smoke on Github"} Rack::Smoke on Github
      