%header
  %a.back{:href => "/smoke"} 
    &laquo; Back to docs
  %h1 Failure
  %h2 You've missed something important about the source that you're trying to use. Read about its requirements and try adding some querystrings
